@font-face {
    font-family: 'inconsolata';
    src: url('files/fonts/inconsolata.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pontano Sans';
    src: url('files/fonts/pontano_sans.woff') format('woff');
}

@font-face {
    font-family: 'Oswald';
    src: url('files/fonts/oswald.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('files/fonts/source_sans_pro.woff') format('woff');
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px 20px;
    color: #333;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    tab-size: 4;
    overflow: auto;
    position: absolute;
    border: 0px;
    left: 320px;
    width: calc(100% - 320px - 40px);
    height: 100%;
    overflow: auto;
}

a {
    color: #1e73be;
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #0b7188;
    font-size: 30px;
    font-weight: normal;
    margin: 25px 0px;
}

h2 {
    color: #0b7188;
    font-size: 25px;
    font-weight: normal;
    margin: 20px 0px;
}

h3 {
    color: #0b7188;
    font-size: 20px;
    font-weight: normal;
    margin: 18px 0px;
}

h4 {
    color: #0b7188;
    font-weight: normal;
    margin: 15px 0px;
}

h5 {
    color: #444;
    font-size: 17px;
    font-weight: bolder;
    margin: 10px 0px;
}

p, ul, ol {
    margin: 10px 0px;
}

li > ul, ol {
    margin: 0px;
}

dl, dt {
    margin: 10px 0px;
}

dd, .indented {
    margin: 10px 30px;
}

p.note {
    border: 1px solid #888;
    margin: 20px 0px;
    padding: 15px;
    background-color: #f9f9f9;
    font-style: italic;
}

p.code {
    font-family: 'inconsolata';
    margin: 20px 0px;

    display: block;
    width: -webkit-calc( 100% - 40px );
    width: -moz-calc( 100% - 40px );
    width: calc( 100% - 40px );
    padding: 10px 15px;
    background-color: #f9f9f9;
    overflow: auto;
}

div {
    margin: 10px 0px;
}

.desc {
    padding-left: 0px;
}

.red {
    color: red;
}

pre, code {
    margin: 20px 0px;
}

code {
    display: block;
    width: -webkit-calc( 100% - 40px );
    width: -moz-calc( 100% - 40px );
    width: calc( 100% - 40px );
    padding: 10px 15px;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    overflow: auto;
}

iframe {
    width: 100%;
    height: 420px;
    border: 0px;
}

iframe.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe.video-480p {
    width: 854px;
    height: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


th {
    padding: 10px;
    text-decoration: underline;
}

td {
    text-align: center;
}

table code {
    padding: 2px;
    margin: 0px;
    width: auto;
}

strong, dt {
    font-weight: bolder;
    font-size: 17px;
    color: #444;
}

#button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px;
    color: #fff;
    background-color: #333;
    opacity: 0.5;
}

#button:hover {
    cursor: pointer;
    opacity: 1;
}

a.permalink {
    float: right;
    margin-top: -15px;
    padding-top: 15px;
    font-size: 18px;
}

a.param, span.param {
    color: #999;
}

a.param:hover {
    color: #777;
}


img {
    width: 100%;
    max-width: 1000px;
    margin: 0px;
    padding: 5px 0px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.with-caption {
    padding: 0px;
}

span.img-caption {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.quote {
    font-style: italic;
}

#panel {
    position: fixed;
    float: left;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 100%;
    overflow: auto;
    padding: 0px 20px 0px 20px;
    background: #fafafa;
}

#panel ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 20px;
}

.filterBlock {
    position: relative;
}

.filterBlock p {
    margin: 0;
}

#filterInput {
    width: 100%;
    padding: 5px;
    font-family: inherit;
    font-size: 15px;
    outline: none;
    border: 1px solid #dedede;
}

#filterInput:focus{
    border: 1px solid #2194CE;
}

#clearFilterButton {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: grey;
    text-align: center;
    line-height: 0;
    padding-top: 7px;
    opacity: .5;
}

#clearFilterButton:hover {
    opacity: 1;
}

.hidden {
    display: none;
}

#panel li b {
    font-weight: bold;
}



/* mobile */

#expandButton {
    display: none;
    position: absolute;
    right: 20px;
    top: 12px;
    width: 32px;
    height: 32px;
}

#expandButton span {
    height: 2px;
    background-color: #2194CE;
    width: 16px;
    position: absolute;
    left: 8px;
    top: 10px;
}

#expandButton span:nth-child(1) {
    top: 16px;
}

#expandButton span:nth-child(2) {
    top: 22px;
}

div.package-logos {
    text-align: center;
}

.package-logo {
    display: inline-block;
    width: 350px;
}

.package-logo:nth-of-type(1) {
    width: 310px;
    margin-right: 20px;
}

.package-logo:nth-of-type(2) {
    padding: 0px 20px;
}

.package-logo:nth-of-type(3) {
    padding: 0px 40px;
}

.package-logo div {
    text-align: center;
}

.package-logo img {
    margin: 10px 0px;
}

.copyright {
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 5px;
}

.copyright > div {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

/* custom tabs widget */

.v3d-tabs {
    border: solid #1e73be;
    border-width: 1px;
    background-color: #1e73be;
    overflow: hidden;
}

.v3d-tab-input {
    display: none;
}

.v3d-tab-label {
    display: inline-block;
    padding: 0px 10px;
    border-width: 0 2px 0 0;
    border-color: #1e73be #8fb2d2;
    border-style: solid;
    height: 40px;
    line-height: 40px;
    background-color: #1e73be;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.v3d-tab-input:checked + .v3d-tab-label {
    border-right-width: 0;
    border-bottom-width: 0;
    background-color: #fff;
    color: #1e73be;
}

.v3d-tab-content {
    display: none;
    float: left;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    z-index: 1;
}

.v3d-tab-input:checked + .v3d-tab-label + .v3d-tab-content {
    display: block;
    z-index: 2;
}

.v3d-tab-content code {
    width: 100%;
    margin: 0;
    border: 1px solid #d0d0d0;
}

.width-clear {
    width: auto;
    max-width: none;
}

.border-gray {
    border: 1px solid lightgray;
}

/* tablet */

@media all and ( max-width: calc(854px + 320px + 40px) ) {
    iframe.video-480p {
        width: 100%;
        height: calc((100vw - 320px - 40px) * 9 / 16);
    }
}

/* phone */

@media all and ( max-width: 640px ) {
    body {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 10px;
    }

    h1 {
        margin-top: 16px;
        margin-bottom: 20px;
    }

    body > h1, article > h1 {
        margin-top: 76px;
        line-height: 1;
    }

    iframe.video-480p {
        width: 100%;
        height: calc((100vw - 20px) * 9 / 16);
    }

    #panel {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        right: 0;
        z-index: 100;
        overflow: hidden;
        border-bottom: 1px solid #dedede;
    }

    #content {
        position: absolute;
        left: 0;
        top: 90px;
        right: 0;
        bottom: 0;
        font-size: 17px;
        line-height: 22px;
        padding-left: 20px;
        overflow: auto;
    }

    #navigation {
        position: absolute;
        left: 0;
        top: 90px;
        right: 0;
        bottom: 0;
        font-size: 17px;
        line-height: 22px;
        overflow: auto;
    }

    #expandButton {
        display: block;
    }

    #panel.collapsed {
        height: 56px;
    }

}
